* {
    color: white;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: black;
}

h1,
h2 {
    font-weight: bold;
    color: blueviolet;
}

.recipe-list {
    display: inline-block;
    background-color: blueviolet;
    padding: 16px;
    margin: 16px;
}