* {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 1% 25%;
}

h1,
h2 {
    background-color: white;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}